<!-- index.ejs -->
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ルービックキューブタイマー</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<div id="title">
  <h1>Cube Timer</h1>
</div>

<div id="scramble">
  ここにスクランブル
</div>

<div id="timer-display">
  0.00
</div>

<p>
  スペースキーでインスペクション開始<br>
  スペースキーを長押し、離して計測スタート / 任意のキーでストップ
</p>

<div id="best-time">
  ベストタイム: ---
</div>

<div class="history">
  <h2>最近の記録</h2>
  <ul id="solve-history">
  </ul>
</div>

<script src="/static/js/api.js"></script>
<script src="/static/js/scramble.js"></script>
<script src="/static/js/timer.js"></script>
</body>

</html>
